html{
    font-size: 100px;
}
body{
    background: #f4f4f4;
}

.div2{
    background: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    opacity: 0.5;
}
.div1{
    width: 294px;
    height: 212px;
    background: #FFF;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    font-family: "微软雅黑";
    margin-left: -147px;
    margin-top: -106px;
}
.div1 h2{
    line-height: 44px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.div1 p{
    margin: 22px 22px;
    line-height: 22px;
    font-weight: bold;
}
#btn{
    width: 200px;
    height: 43px;
    background: #3c89d7;
    border: none;
    color: #fff;
    margin:  0 auto;
    display: block;
}




/*服务协议*/
.content{
    padding: 0 0.3rem;
}
.h1{
    text-align: center;
    font-size: 0.36rem;
    padding-top: 0.5rem;
    padding-bottom: 0.18rem;
    line-height: normal;
}
.h3{
    font-size: 0.36rem;
    padding-left: 0.18rem;
    border-left: 6px solid #40c7a2;
    line-height: 100%;
    margin: 0.25rem 0;
}
.content p{
    text-indent: 2em;
    font-size: 0.3rem;
    line-height: normal;
    color: #666666;
}
/*溯源信息*/
.info{
    border-bottom: 1px solid #dddddd;
    padding: 0.25rem 0 0.15rem 0.29rem;
    background: #ffffff;
}
.info span{
    font-size: 0.3rem;
    border-left: 4px solid #40c7a2;
    line-height:100%;
    padding-left: 0.2rem;
}
.detail_info,.address_info{
    /*height: 2.29rem;*/
    padding: 0.2rem 0.29rem ;
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
}
/*.to_down p{*/
    /*background: url("Images/down.png") no-repeat right;*/
/*}*/
/*.to_up p{*/
    /*background: url("Images/up.png") no-repeat right;*/
/*}*/
.to_down ol{
    display: none;
}
.zp ul{
    background: url("Images/chuo.png") no-repeat right;
    background-size: 2rem 2.07rem;
}
.already_consume ul{
    background: url("Images/yxf.png") no-repeat right;
    background-size: 2rem 2.07rem;
}
.detail_info ul li,.address_info ul li{
    font-size: 0.3rem;
    line-height: 0.6rem;
    color: #666666;
}
.detail_info ul li span,.address_info ul li span{
    padding-left: 0.32rem;
    color: #333333;

}
.address_info li.to_down p span.span1{
    cursor: pointer;
    float: right;
    width: 0.32rem;
    height: 0.17rem;
    background: url('Images/down.png') no-repeat 100% 100%;
    background-size: 100% 100%;
    padding: 0;
    margin-top: 0.2rem;
}
.address_info li.to_down p span.none{
    background: none;
}
.address_info li.to_down p span.span2{
    float: right;
    width: 0.32rem;
    height: 0.17rem;
    background: url('Images/up.png') no-repeat 100% 100%;
    background-size: 100% 100%;
    padding-left: 0;
    margin-top: 0.2rem;
}

.address_info{
    /*height: 1.8rem;*/
    box-shadow:0 0.05rem 0.05rem 0 #dddddd;
    margin-bottom: 12px;
}
.address_info ul li:nth-of-type(2){
    margin-bottom: 8px;
}
.lz_info{
    padding: 0.3rem 0 0.3rem 0.48rem;
    background: #ffffff;
}
.lz_info ul{
    padding-left: 0.42rem;
    /*background: url("Images/line.png") no-repeat;*/
    background-size: 0.24rem 7.2rem ;
    border-left: 0.04rem solid #dddddd;
}
.lz_info .mar_top{
    margin-top: 0.2rem;
}
.lz_info li .top{
    font-size: 0.3rem;
    color: #666666;
    line-height:0.45rem;
}
.lz_info li .middle,.lz_info li .bottom{
    color: #999999;
    line-height: 0.45rem;
    font-size: 0.24rem;
}
.lz_info li .new{
    color: #3c89d7;
}
/*详情页*/
.header{
    width: 6.6rem;
    margin: 0 auto 0.4rem auto;
    border-bottom: 1px solid #bbbbbb;
}
.header h1{
    text-align: left;
    padding-bottom: 0;
}
.header div{
    font-size: 0.24rem;
    color: #999999;
    height: 0.6rem;
    line-height: 0.6rem;
}
.address_info ul li.second,.address_info ul li p.second{
    font-size: 0.24rem;
    background: #f8f8f8;
    border-radius: 0.04rem;
    color: #666666;
    padding-left: 0.2rem;
}



.lz_info ul li{
    position: relative;
}
.point{
    position: absolute;
    width: 0.12rem;
    height: 0.12rem;
    background: #dddddd;
    border-radius: 50%;
    left: -0.5rem;
    top: 0.12rem;
}
.lz_info ul li:nth-child(1) span{
    width: 0.24rem;
    height: 0.44rem;
    background: url("Images/first.png") no-repeat;
    background-size: 100% 100%;
    left: -0.56rem;
    top: -0.15rem;
}
/* 出库 */
.detail_info ul.chu-uls{
    background: none;
}
.address_border{
   padding-bottom: 10px;
    box-shadow: none;
    margin-bottom: 0;
}
 .lisT{
    margin-bottom: 10px;
    padding: 0.1rem 0.29rem 0.2rem 0.29rem;
    background: #fff;
}    
.lisT li{ 
    font-size: 0.3rem;
    line-height: 0.6rem;
    color: #666666;

}
.lisT li span{
    padding-left: 0.64rem;
    color:#333;
    text-align: left;
    display: inline-block;
}
.lisT li span.name{
    padding-left: 0.32rem;
}
.lz_info_border{
    border-bottom: 1px solid #ddd;
}
.yes_chuku{
    padding: 26px 0;
    text-align: center;
    background: #fff;
}
.yes_chuku a{
    display: inline-block;
    width: 270px;
    height: 40px;
    background: #3c89d7;
    text-align: center;
    line-height: 40px;
    font-size: 0.32rem;
    color: #fff;
}